@import url("https://fonts.googleapis.com/icon?family=Material+Icons"
);
.parallax-container{
    height:100vh;
}
.padding-top{
    padding-top:10vh;
}
.blurred-image{
    filter:blur(3.1px)
}
.Intro-img{
  height:auto;
}
.input-field{
    width:50vw;
}
.material-icons.big-font{
font-size: 32px;
}
.more-blurred-image{
    filter:blur(7.5px) 
}
.google-play{
    width:20vw;
    height:10vh;
}
.hidden{
    display: none;
}