@import url("https://fonts.googleapis.com/icon?family=Material+Icons"
);
@import url("https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" );
@import url("https://cdnjs.cloudflare.com/ajax/libs/magic/1.1.0/magic.min.css");
.parallax-container{
    height:100vh;
}
.padding-top{
    padding-top:12vh;
}
.blurred-image{
    filter:blur(3.1px)
}
.big-text{
    font-size:2rem;
}
.Intro-img{
  height:auto;
}       
.input-field{
    width:50vw;
}
.material-icons.big-font{
font-size: 32px;
}
.more-blurred-image{
    filter:blur(7.5px) 
}
.google-play{
    width:20vw;
    height:10vh;
}
.hidden{
    display: none;
}
.fullHeight{
    height:100vh;
    
}
@media only screen and (min-width:600px) and (max-width:992px)
{
    .fullHeight{
        height:50%;
    }
}

 video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}
.overlay {
    position: fixed;
    

    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}